<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <button
        type="button"
        class="navbar-toggle"
        (click)="collapsed = !collapsed"
      >
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button> -->
      <a routerLink="/" class="navbar-brand"
        ><img src="../../assets/images/logo.svg"
      /></a>
    </div>
    <!-- <div
      class="navbar-collapse"
      [class.collapse]="collapsed"
      (window:resize)="collapsed = true"
    > -->
    <div class="collapse navbar-collapse">
      <div class="menu-main">
        <div>
          <a [routerLink]="['/recipes']" *ngIf="isAuthenticated">Recipes</a>
          <a [routerLink]="['/my-recipes']" *ngIf="isAuthenticated"
            >My Recipes</a
          >
          <a [routerLink]="['/shopping-list']" *ngIf="isAuthenticated"
            >Shopping List</a
          >
        </div>
        <div>
          <a [routerLink]="['/auth']" *ngIf="!isAuthenticated">Login</a>
          <a
            *ngIf="isAuthenticated"
            style="cursor: pointer;"
            (click)="onLogout()"
            >Logout</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
