<div class="row">
  <div class="col-xs-8" style="float: none; margin: auto;">
    <app-shopping-edit> </app-shopping-edit>
    <hr />
    <!-- <ul class="list-group">
      <li
        class="list-group-item"
        style="cursor: pointer;"
        *ngFor="let ingredient of ingredients; let i = index"
        (click)="onEditItem(i)"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
    </li>
    </ul> -->
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of ingredients; let i = index"
      >
        <div class="row">
          <div class="col-md-7">
            {{ ingredient.name }}
          </div>
          <div class="col-md-2">
            <input
              type="number"
              class="form-control"
              [(ngModel)]="ingredient.amount"
              (change)="onEdit(i)"
            />
          </div>
          <div class="col-md-3 text-right">
            <button
              style="border: none; background-color: #ffffff;"
              (click)="onDelete(i)"
            >
              <svg style="width: 24px; height: 24px;" viewBox="0 0 24 24">
                <path
                  fill="red"
                  d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z"
                />
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
