<!---<div
  class="col-md-3 recipe-thumbnail"
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active"
>
  <img
    [src]="myRecipe.imagePath"
    alt="{{ myRecipe.name }}"
    class="img-responsive"
    style="max-height: 50px;"
  />
  <h3 class="title">
    {{ myRecipe.name }}
  </h3>
  <p class="author">Author: <span>Cuong</span></p>
</div>--->
<div class="recipe-thumbnail">
  <div
    class="image-container"
    [ngStyle]="{ 'background-image': 'url(' + myRecipe.imagePath + ')' }"
  >
    <div class="overlay">
      <div class="button">
        <div>
          <img src="assets/images/edit.png" [routerLink]="[index]" />
        </div>
        <div>
          <img src="assets/images/delete.png" (click)="onDeleteRecipe()" />
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <h3 class="title">
      {{ myRecipe.name }}
    </h3>

    <p class="description">{{ myRecipe.description }}</p>
    <p class="description">{{ myRecipe.createdBy }}</p>
  </div>
</div>
